simpleitk==2.5.5
opencv-python-headless==4.11.0.86
nvidia-cublas==13.1.1.3
torchmetrics==1.9.0
widgetsnbextension==4.0.15
anyio==4.14.1
nvidia-cuda-nvrtc==13.0.88
lightning-utilities==0.15.3
cuda-toolkit==13.0.2
albucore==0.0.24
sentry-sdk==2.64.0
torchvision==0.21.0+cu124
torchinfo==1.8.0
h5py==3.16.0
ImageIO==2.37.3
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cusparse==12.6.3.3
nvidia-nvjitlink-cu12==12.4.127
typing-inspection==0.4.2
simsimd==6.5.16
nvidia-curand-cu12==10.3.5.147
pip==26.1.2
nvidia-cublas-cu12==12.4.5.8
hf-xet==1.5.1
nvidia-cusparselt-cu13==0.8.1
opencv-python==4.11.0.86
nvidia-cusparse-cu12==12.3.1.170
pydantic==2.13.4
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-curand==10.4.0.35
h11==0.16.0
httpcore==1.0.9
wandb==0.28.0
seaborn==0.13.2
ipywidgets==8.1.8
tifffile==2025.5.10
nvidia-nvshmem-cu13==3.4.5
smmap==5.0.3
narwhals==2.22.1
nvidia-cufile==1.15.1.6
huggingface_hub==1.22.0
triton==3.2.0
nvidia-cudnn-cu12==9.1.0.70
nvidia-nccl-cu13==2.29.7
cuda-bindings==13.3.1
importlib_resources==7.1.0
pydicom==3.0.2
click==8.4.2
nvidia-cusolver-cu12==11.6.1.9
torchsummary==1.5.1
torch==2.6.0
nvidia-nvjitlink==13.0.88
scikit-image==0.25.2
wheel==0.47.0
pydantic_core==2.46.4
nvidia-cuda-cupti==13.0.85
nvidia-cufft-cu12==11.2.1.3
gitdb==4.0.12
stringzilla==4.6.2
httpx==0.28.1
jupyterlab_widgets==3.0.16
typing_extensions==4.15.0
plotly==6.8.0
cuda-pathfinder==1.5.6
nvidia-cudnn-cu13==9.20.0.48
safetensors==0.8.0
optree==0.19.1
setuptools==81.0.0
numpy==1.26.4
nvidia-nvtx==13.0.85
nibabel==5.4.2
nvidia-nccl-cu12==2.21.5
sympy==1.13.1
monai==1.6.0
nvidia-cusparselt-cu12==0.6.2
nvidia-cufft==12.0.0.61
nvidia-cuda-runtime==13.0.96
GitPython==3.1.50
nvidia-cusolver==12.0.4.66
nvidia-nvtx-cu12==12.4.127
timm==1.0.27
albumentations==2.0.8
nvidia-cuda-cupti-cu12==12.4.127
torchaudio==2.6.0+cu124
transformer-engine==1.7.0+4e7caa1
flash-attn==2.4.2
einops==0.8.0
polygraphy==0.49.11
nvidia-pyindex==1.0.9
sphinx_glpi_theme==0.6
prettytable==3.10.0
pytorch-quantization==2.1.2
nvidia-modelopt==0.11.2
tensorrt==10.1.0
async-timeout==4.0.3
cugraph-pyg==24.4.0
cugraph-equivariant==24.4.0
cugraph-dgl==24.4.0
zarr==2.18.2
fastrlock==0.8.2
importlib_metadata==7.1.0
fsspec==2024.5.0
dask-cuda==24.4.0
partd==1.4.2
rmm==24.4.0
ply==3.11
grpcio==1.62.1
cuml==24.4.0
dask-cudf==24.4.0
distributed==2024.1.1
pylibraft==24.4.0
pyarrow==14.0.2
aiohttp==3.9.5
cudf==24.4.0
cupy-cuda12x==13.0.0
pylibcugraph==24.4.0
dask-expr==0.4.0
zict==3.0.0
tzdata==2024.1
cugraph==24.4.0
asciitree==0.3.3
scipy==1.13.1
cugraph-service-client==24.4.0
cugraph-service-server==24.4.0
thriftpy2==0.5.0
frozenlist==1.4.1
xgboost==2.0.3
rich==13.7.1
treelite==4.1.2
zipp==3.19.0
pylibwholegraph==24.4.0
pylibcugraphops==24.4.0
locket==1.0.0
multidict==6.0.5
pynvjitlink==0.2.3
nvtx==0.2.5
numcodecs==0.11.0
nx-cugraph==24.4.0
cuda-python==12.5.0
pynvml==11.4.1
raft-dask==24.4.0
aiosignal==1.3.1
dask==2024.1.1
cloudpickle==3.0.0
pytz==2024.1
toolz==0.12.1
urllib3==2.0.7
rapids-dask-dependency==24.4.0a0
fasteners==0.19
pandas==2.2.1
kvikio==24.4.0
entrypoints==0.4
tblib==3.0.0
ucx-py==0.37.0
yarl==1.9.4
tabulate==0.9.0
onnx==1.16.0
ninja==1.11.1.1
apex==0.1
pybind11_global==2.12.0
nvidia-cudnn-frontend==1.3.0
pyparsing==3.1.2
pycocotools==2.0+nv0.8.0
kiwisolver==1.4.5
contourpy==1.2.1
fonttools==4.53.0
pillow==10.3.0
matplotlib==3.9.0
cycler==0.12.1
nvidia-dali-cuda120==1.38.0
gast==0.5.4
nvidia-nvimgcodec-cu12==0.2.0.7
dm-tree==0.1.8
pytorch-triton==3.0.0+989adb9a2
lintrunner==0.12.5
types-dataclasses==0.6.6
mpmath==1.3.0
networkx==3.3
filelock==3.14.0
opencv==4.7.0
jupytext==1.16.2
mdit-py-plugins==0.4.1
markdown-it-py==3.0.0
jupyter-tensorboard==0.2.0
mdurl==0.1.2
fastjsonschema==2.19.1
pexpect==4.9.0
ptyprocess==0.7.0
Pygments==2.18.0
soupsieve==2.5
webencodings==0.5.1
json5==0.9.25
bleach==6.1.0
tensorboard==2.9.0
prometheus_client==0.20.0
jupyterlab_pygments==0.3.0
notebook==6.4.10
jsonschema==4.22.0
mistune==3.0.2
wcwidth==0.2.13
pyasn1==0.6.0
requests-oauthlib==2.0.0
ipython-genutils==0.2.0
nest-asyncio==1.6.0
python-dateutil==2.9.0.post0
python-hostlist==1.23.0
stack-data==0.6.3
prompt_toolkit==3.0.45
nbformat==5.10.4
absl-py==2.1.0
jedi==0.19.1
nbconvert==7.16.4
tensorboard-plugin-wit==1.8.1
asttokens==2.4.1
referencing==0.35.1
argon2-cffi==23.1.0
Send2Trash==1.8.3
tinycss2==1.3.0
Werkzeug==3.0.3
matplotlib-inline==0.1.7
jupyter_client==8.6.2
jupyterlab-server==1.2.0
rsa==4.9
tornado==6.4
pyasn1_modules==0.4.0
pandocfilters==1.5.1
pure-eval==0.2.2
beautifulsoup4==4.12.3
executing==2.0.1
oauthlib==3.2.2
argon2-cffi-bindings==21.2.0
tensorboard-data-server==0.6.1
parso==0.8.4
terminado==0.18.1
ipython==8.21.0
Markdown==3.6
rpds-py==0.18.1
cachetools==5.3.3
jupyter_core==5.7.2
traitlets==5.9.0
comm==0.2.2
debugpy==1.8.1
pyzmq==26.0.3
jsonschema-specifications==2023.12.1
jupyterlab==2.3.2
defusedxml==0.7.1
nbclient==0.10.0
psutil==5.9.8
google-auth-oauthlib==0.4.6
google-auth==2.29.0
ipykernel==6.29.4
pytest==8.1.1
mkl==2021.1.1
cloudpathlib==0.16.0
requests==2.32.3
expecttest==0.1.3
platformdirs==4.2.2
PyYAML==6.0.1
language_data==1.2.0
decorator==5.1.1
cffi==1.16.0
exceptiongroup==1.2.1
pytest-rerunfailures==14.0
threadpoolctl==3.5.0
confection==0.1.5
thinc==8.2.3
tbb==2021.12.0
pytest-shard==0.1.2
spacy-loggers==1.0.5
annotated-types==0.7.0
librosa==0.10.1
spacy-legacy==3.0.12
wasabi==1.1.3
soundfile==0.12.1
srsly==2.4.8
pybind11==2.12.0
mkl-devel==2021.1.1
mock==5.1.0
sortedcontainers==2.4.0
weasel==0.3.4
msgpack==1.0.8
preshed==3.0.9
execnet==2.1.1
cymem==2.0.8
scikit-learn==1.5.0
murmurhash==1.0.10
joblib==1.4.2
tqdm==4.66.4
blis==0.7.11
intel-openmp==2021.4.0
langcodes==3.4.0
iniconfig==2.0.0
pooch==1.8.1
tomli==2.0.1
pytest-xdist==3.6.1
astunparse==1.6.3
charset-normalizer==3.3.2
certifi==2024.6.2
spacy==3.7.4
MarkupSafe==2.1.5
hypothesis==5.35.1
idna==3.7
packaging==24.0
six==1.16.0
soxr==0.3.7
typer==0.9.4
regex==2024.5.15
llvmlite==0.42.0
pytest-flakefinder==1.1.0
audioread==3.0.1
xdoctest==1.0.2
numba==0.59.1
Jinja2==3.1.4
catalogue==2.0.10
marisa-trie==1.1.1
lazy_loader==0.4
Cython==3.0.10
mkl-include==2021.1.1
pluggy==1.5.0
protobuf==4.24.4
attrs==23.2.0
smart-open==6.4.0
pycparser==2.22
cmake==3.29.3
nvfuser==0.2.3a0+f73ff1b
opt-einsum==3.3.0
igraph==0.11.5
looseversion==1.3.0
texttable==1.7.0
